<div class="container-fluid mt-5 ">
    <div class="container">
        <div class="section-title">
            <h2>Services</h2>
            <p>At Satwic, for over a decade, we have successfully formulated the best blend of technical, business
                and people expertise to offer tailor made solutions to suit our clients’ business needs. We analyze
                and understand the nuances of client business, organization culture and the specific needs of a
                project and strive to accurately evaluate and provide specialized resources to help you reach your
                goals faster.</p>
        </div>

        <div class="row content">
            <div class="col-md-4">
                <img src="../../assets/img/details-1.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-4">
                <h3>Advisory Services</h3>
                <p class="font-italic">
                    It is crucial for today’s companies to rely on timely availability of relevant and trustworthy
                    data to stay ahead of competition. Under such scenarios, it becomes extremely important to
                    ensure that you employ the right architecture practices that address both short and long term
                    needs of your company.
                </p>
                <ul>
                    <li><i class="icofont-check"></i> Business Intelligence & Data Integration Architecture and
                        Planning</li>
                    <li><i class="icofont-check"></i> Business Intelligence / Data Integration Health Check and
                        Assessment.</li>
                    <li><i class="icofont-check"></i> Business Intelligence / Data Warehousing Tool / Vendor
                        Selection</li>
                </ul>
                <p>
                    Satwic has helped many customers turn around struggling business intelligence and/or data
                    integration efforts. This service is typically conducted in about a two week period, during
                    which we will engage key stakeholders to assess the current state of the effort. </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4 order-1 order-md-2">
                <img src="../../assets/img/details-2.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1">
                <h3>Implementation Services</h3>
                <p class="font-italic">
                    As Business Intelligence continues to expand its significance for today’s enterprises,
                    successful BI programs need a trusted implementation partner along with data, technology,
                    analytics, and human decision making.
                </p>
                <ul>
                    <li><i class="icofont-check"></i>Data Integration Implementation:</li>
                    <li><i class="icofont-check"></i> Platform Migrations Implementation:</li>
                    <li><i class="icofont-check"></i> Business Intelligence / Data Warehousing </li>
                </ul>
                <p>
                    At Satwic, we have been helping customers switch over to newer platforms with minimal
                    disruption. We understand your concerns for data safety and have developed specialized
                    techniques to perform migrations quickly and efficiently. </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4">
                <img src="../../assets/img/details-3.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-5">
                <h3>Managed Support Services</h3>
                <p class="font-italic">
                    In today’s business environment, it is critical for companies to have access to ongoing and
                    timely support for their Business Intelligence and Data Integration systems to ensure high
                    performance and service levels.
                </p>
                <p>
                    At Satwic, we strive to provide clients with greatest flexibility and confidence in its BI/DI
                    Maintenance and Support services. Our services are SLA based, customized to meet your
                    requirements and our team operates as an extension of your own team. This can help your company
                    increase the long term effectiveness of your BI/DI solutions while reducing the burden on
                    managing IT. You can instead divert your resources towards strategic and innovative
                    capabilities. Our support model helps companies reduce risk with improved reliability and
                    reduced operational costs.
                </p>
                <p>
                    Our support team develops a clearly defined set of processes and procedures based on the ITIL
                    v3 principles to ensure a consistent and efficient delivery of support services. We have a
                    proven track record in delivering the “follow the sun” support model, where we have qualified
                    support resources available 24/7.
                </p>
            </div>
        </div>



    </div>
</div>
