<div class="container-fluid img-fluid imagess " >
        <div class="row">
                <div class="col-lg-6 ">
                    <div class="text-white">
                        <h1>About Us</h1>
                        <h2 style="margin-bottom:0px">Vision</h2>
                        <p>To be a respected technology company recognized for its integrity and innovation.

                        </p>
                        <h2 style="margin-bottom:0px">Mission</h2>
                        <p>To provide compelling value to our clients by blending technology, people and business
                            acumen.
                        </p>

                        <a href="#" class="download-btn"><i class="bx bxs-like bx-spin"></i> Read More</a>
                        <!-- <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../../assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
    </div>