<div class="container-fluid img-fluid imagess " >
        <div class="row">
            <div class="col-lg-6">
                <div class="text-white">
                    <h1>Operational Performance</h1>
                    <p>For many industries digital is a daunting challenge. But as with any
                        challenge there are great rewards for those who master the Digital Transformation.
                        Technimove has identified 4 clear steps to Digital Transformation. With each step on this
                        journey, you and your organisation can discover true value.</p>
                    <a href="#" class="btn btn-shutter-more"><i class="bx bxl-apple"></i> App Store</a>
                </div>
            </div>
        </div>
    </div>