 <!-- ======= Industries Lists Section ======= -->
 <section id="Industries" class="about-lists">
    <div class="container">

        <div class="row no-gutters">
            <div class="col-12 section-title">
                <h2>Industries</h2>
                <p>At Satwic, we take pride in providing the best custom-made IT solutions to help your business
                    perform better. Our expert teams are equipped with exhaustive technological and managerial
                    expertise across many industry verticals to cater to a wide segment of clients.
                    <br>
                    We constantly focus on satisfying specific client demands and provide customized solutions
                    based on our vast experience in various industry segments.</p>
            </div>

            <div class="col-lg-3 col-md-6 content-item" >
                <img src="../../assets/img/industry/counsumer.png" alt="" class="icon-indu" srcset="">
                <h4>Consumer Products</h4>
                <p>Globalization and this fast paced world have changed the way consumer product companies
                    function. In such highly competitive and dynamic environments,<a href="#">more...</a></p>
            </div>

            <div class="col-lg-3 col-md-6 content-item"  data-aos-delay="100">
                <img src="../../assets/img/industry/retail.png" alt="" class="icon-indu" srcset="">
                <h4>Retail</h4>
                <p>Today’s retail companies face real time challenges in gathering accurate customer and product
                    information. Such critical information.<a href="#">more...</a></p>
            </div>

            <div class="col-lg-3 col-md-6 content-item"  data-aos-delay="200">
                <img src="../../assets/img/industry/service.png" alt="" class="icon-indu" style="width:80px;height: 80px;"
                    srcset="">
                <h4>Financial Services</h4>
                <p>Financial services organizations face many challenges in managing their data. With increasing
                    volumes of business records <a href="#">more...</a></p>
            </div>

            <div class="col-lg-3 col-md-6 content-item"  data-aos-delay="300">
                <img src="../../assets/img/industry/media.png" alt="" class="icon-indu" srcset="">
                <h4>Media Entertainment</h4>
                <p>The media entertainment industry faces real time challenge in managing, sharing and distributing
                    content.<a href="#">more...</a></p>
            </div>

            <div class="col-lg-3 col-md-6 content-item" >
                <img src="../../assets/img/industry/education.jpg" alt="" class="icon-indu" srcset="">
                <h4>Education</h4>
                <p>Education gives us a knowledge of the world around us and changes it into something better. It
                    develops in us a perspective of looking at life <a href="#">more...</a></p>

            </div>

            <div class="col-lg-3 col-md-6 content-item"  data-aos-delay="100">
                <img src="../../assets/img/industry/insurance.png" alt="" class="icon-indu" srcset="">
                <h4>Insurance</h4>
                <p>Insurance is a means of protection from financial loss. It is a form of risk management,
                    primarily used to hedge against the risk of a contingent or uncertain loss<a href="#">more...</a></p>
            </div>

            <div class="col-lg-3 col-md-6 content-item"  data-aos-delay="200">
                <img src="../../assets/img/industry/telecom.jpg" alt="" class="icon-indu" srcset="">
                <h4>Telecom</h4>
                <p>Telecommunications, also known as telecom, is the exchange of information over significant
                    distances by electronic means and refers to all types of voice, data and video transmission. <a
                        href="#">more...</a></p>
            </div>

            <div class="col-lg-3 col-md-6 content-item"  data-aos-delay="300">
                <img src="../../assets/img/industry/publicsector.png" alt="" class="icon-indu" srcset="">
                <h4>Public Sector</h4>
                <p>The public sector industry faces real time challenge in managing, sharing and distributing
                    content.<a href="#">more...</a></p>
            </div>


        </div>

    </div>
</section><!-- End About Lists Section -->
