


.imagess{
    background-size: cover;

    height: 700px;
    background: #0f9ffa url('../../assets/img/banner/digital-operating-models-lead.png') no-repeat ;
    padding: 140px;
}
@media (max-width: 768px) { 
    .imagess{
        padding: 40px;
        height: 500px;
    }
 }


.btn-shutter-more {
	color: #fff;
	border: 1px solid #fff;
	position: relative;
	z-index: 1;
	display: inline-block;
	background-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 12px 50px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	letter-spacing: 1.5px;
	margin-top: 20px;
	font-weight: 700;
	font-size: 14px;
}
.btn-shutter-more:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #000;
	z-index: -1;
}
.btn-shutter-more:hover {
	border: 1px solid #000;
	background-color: transparent;
	color: #ffffff;
}
.btn-shutter-more:hover:before {
	width: 100%;
}
