<div class="listviewgrpoup">
    <div (click)="scrollTo('section1')" class="vnavbod">
      <a *ngIf="currentSection==='section1'" class="vnav"> Section 1</a>
      <a *ngIf="currentSection!=='section1'" class="vnavi"> Section </a>
  
    </div>
    <div (click)="scrollTo('section2')" class="vnavbod">
      <a *ngIf="currentSection==='section2'" class="vnav"> Section 2</a>
      <a *ngIf="currentSection!=='section2'" class="vnavi"> Section 2</a>
  
    </div>
    <div (click)="scrollTo('section3')" class="vnavbod">
      <a *ngIf="currentSection==='section3'" class="vnav"> Section 3</a>
      <a *ngIf="currentSection!=='section3'" class="vnavi"> Section 3</a>
  
    </div>
    <div (click)="scrollTo('section4')" class="vnavbod">
      <a *ngIf="currentSection==='section4'" class="vnav"> Section 4</a>
      <a *ngIf="currentSection!=='section4'" class="vnavi"> Section 4</a>
  
  
    </div>
  </div>
  <br />
  
<div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" class="mainSection">


    <div id="section1">
            <section  class="d-flex align-items-center hero1">
                    <div id="myNav" class="overlay">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <div class="overlay-content">
                            <div class="row">
                                <div class="col-3" style="    background-color: #001650;padding: 0px">
                                    <a href="#">Robotic process automation is a form of business process automation technology
                                        technology</a>
                                    <img src="../../assets/img/banner/rpa.jpg" class="img-fluid" alt="">
                
                                </div>
                                <div class="col-3" style="    background-color: #c9c2b2;padding: 0px">
                                    <a href="#">Robotic process automation is a form of business process automation technology
                                    </a>
                                    <img src="../../assets/img/banner/960x0.jpg" class="img-fluid" alt="">
                
                                </div>
                                <div class="col-3" style="    background-color: #fff;padding: 0px">
                                    <a href="#">Robotic process automation is a form of business process automation technology
                                    </a>
                                    <img src="../../assets/img/banner/devops-engineer-full-time-freelance-project-romania.png" class="img-fluid"
                                        alt="">
                
                                </div>
                                <div class="col-3">
                                    <a href="#">About Us </a>
                                    <a href="#">Services </a>
                                    <a href="#">Industries </a>
                                    <a href="#">Partners</a>
                                </div>
                            </div>
                
                
                        </div>
                    </div>
                    <div class="opentabbox">
                        <span class="openTab" onclick="openNav()">&#9776;</span>
                
                    </div>
                    <div class="container">
                        
                        <div class="row">
                            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                                data-aos="fade-up">
                                <div>
                                    <h1 class="text-white">Making a Digital Enterprise </h1>
                                    <p class="text-white" >Deploy technology for profit instead of just operational</p>
            
            
                                    <a href="#" class="download-btn"><i class="bx bxs-like bx-spin"></i> Read More</a>
                                    <!-- <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> -->
                                </div>
                            </div>
                            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                                <!-- <img src="../../assets/img/banner/DM.png" class="img-fluid" alt=""> -->
                            </div>
                        </div>
                    </div>
            
                </section><!-- End Hero -->
            
        </div>


        <div id="section2">
<section id="section2" class="d-flex align-items-center heros img-fluid" style="background-color: #b7c0c7">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up">
                <div>
                    <h1 class="text-white">Digital Transformation Made Simple</h1>
                    <p class="text-white">For many industries digital is a daunting challenge. But as with any
                        challenge there are great rewards for those who master the Digital Transformation.
                        Technimove has identified 4 clear steps to Digital Transformation. With each step on this
                        journey, you and your organisation can discover true value.</p>


                    <a href="#" class="download-btn"><i class="bx bxs-like bx-spin"></i> Read More</a>
                    <!-- <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> -->
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
            </div>
        </div>
    </div>

</section><!-- End Hero -->
</div>
<div id="section3">
<section  class="d-flex align-items-center hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up">
                <div>
                    <h1>Agile</h1>
                    <h2 style="margin-bottom:0px">Vision</h2>
                    <p>To be a respected technology company recognized for its integrity and innovation.</p>
                    <h1>Devops</h1>
                    <h2 style="margin-bottom:0px">Mission</h2>
                    <p>To provide compelling value to our clients by blending technology, people and business
                        acumen.</p>

                    <a href="#" class="download-btn"><i class="bx bxs-like bx-spin"></i> Read More</a>
                    <!-- <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> -->
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                <img src="../../assets/img/banner/DevOps.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->
</div>
<div id="section4">

<section  class="d-flex align-items-center heroper " style="    background-color: #001650;">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up">
                <div>
                    <h1 class="text-white">Operational Performance</h1>
                    <h2 style="margin-bottom:0px;color: #fff;">Vision</h2>
                    <p class="text-white">To be a respected technology company recognized for its integrity and
                        innovation.

                    </p>
                    <h2 style="margin-bottom:0px;color: #fff;">Mission</h2>
                    <p class="text-white">To provide compelling value to our clients by blending technology, people
                        and business
                        acumen.
                    </p>

                    <a href="#" class="download-btn"><i class="bx bxs-like bx-spin"></i> Read More</a>
                    <!-- <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> -->
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                <img src="../../assets/img/banner/rpa.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

</div>
<div id="section5">
<section  class="d-flex align-items-center hero" style="    background-color: aqua;">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up">
                <div>
                    <h1>About Us</h1>
                    <h2 style="margin-bottom:0px">Vision</h2>
                    <p>To be a respected technology company recognized for its integrity and innovation.

                    </p>
                    <h2 style="margin-bottom:0px">Mission</h2>
                    <p>To provide compelling value to our clients by blending technology, people and business
                        acumen.
                    </p>

                    <a href="#" class="download-btn"><i class="bx bxs-like bx-spin"></i> Read More</a>
                    <!-- <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> -->
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                <img src="../../assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                    <img src="../../assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
        </div>
    </div>

</section><!-- End Hero -->

</div>
<div id="section6">
<!-- ======= Details Section ======= -->
<section  class="details pt-5">
    <div class="container">
        <div class="section-title">
            <h2>Services</h2>
            <p>At Satwic, for over a decade, we have successfully formulated the best blend of technical, business
                and people expertise to offer tailor made solutions to suit our clients’ business needs. We analyze
                and understand the nuances of client business, organization culture and the specific needs of a
                project and strive to accurately evaluate and provide specialized resources to help you reach your
                goals faster.</p>
        </div>

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="../../assets/img/details-1.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-4" data-aos="fade-up">
                <h3>Advisory Services</h3>
                <p class="font-italic">
                    It is crucial for today’s companies to rely on timely availability of relevant and trustworthy
                    data to stay ahead of competition. Under such scenarios, it becomes extremely important to
                    ensure that you employ the right architecture practices that address both short and long term
                    needs of your company.
                </p>
                <ul>
                    <li><i class="icofont-check"></i> Business Intelligence & Data Integration Architecture and
                        Planning</li>
                    <li><i class="icofont-check"></i> Business Intelligence / Data Integration Health Check and
                        Assessment.</li>
                    <li><i class="icofont-check"></i> Business Intelligence / Data Warehousing Tool / Vendor
                        Selection</li>
                </ul>
                <p>
                    Satwic has helped many customers turn around struggling business intelligence and/or data
                    integration efforts. This service is typically conducted in about a two week period, during
                    which we will engage key stakeholders to assess the current state of the effort. </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                <img src="../../assets/img/details-2.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                <h3>Implementation Services</h3>
                <p class="font-italic">
                    As Business Intelligence continues to expand its significance for today’s enterprises,
                    successful BI programs need a trusted implementation partner along with data, technology,
                    analytics, and human decision making.
                </p>
                <ul>
                    <li><i class="icofont-check"></i>Data Integration Implementation:</li>
                    <li><i class="icofont-check"></i> Platform Migrations Implementation:</li>
                    <li><i class="icofont-check"></i> Business Intelligence / Data Warehousing </li>
                </ul>
                <p>
                    At Satwic, we have been helping customers switch over to newer platforms with minimal
                    disruption. We understand your concerns for data safety and have developed specialized
                    techniques to perform migrations quickly and efficiently. </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="../../assets/img/details-3.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-5" data-aos="fade-up">
                <h3>Managed Support Services</h3>
                <p class="font-italic">
                    In today’s business environment, it is critical for companies to have access to ongoing and
                    timely support for their Business Intelligence and Data Integration systems to ensure high
                    performance and service levels.
                </p>
                <p>
                    At Satwic, we strive to provide clients with greatest flexibility and confidence in its BI/DI
                    Maintenance and Support services. Our services are SLA based, customized to meet your
                    requirements and our team operates as an extension of your own team. This can help your company
                    increase the long term effectiveness of your BI/DI solutions while reducing the burden on
                    managing IT. You can instead divert your resources towards strategic and innovative
                    capabilities. Our support model helps companies reduce risk with improved reliability and
                    reduced operational costs.
                </p>
                <p>
                    Our support team develops a clearly defined set of processes and procedures based on the ITIL
                    v3 principles to ensure a consistent and efficient delivery of support services. We have a
                    proven track record in delivering the “follow the sun” support model, where we have qualified
                    support resources available 24/7.
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                <img src="../../assets/img/details-4.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
                <p class="font-italic">
                    In today’s business environment, it is critical for companies to have access to ongoing and
                    timely support for their Business Intelligence and Data Integration systems to ensure high
                    performance and service levels.
                </p>
                <p>
                    At Satwic, we strive to provide clients with greatest flexibility and confidence in its BI/DI
                    Maintenance and Support services. Our services are SLA based, customized to meet your
                    requirements and our team operates as an extension of your own team. This can help your company
                    increase the long term effectiveness of your BI/DI solutions while reducing the burden on
                    managing IT. You can instead divert your resources towards strategic and innovative
                    capabilities. Our support model helps companies reduce risk with improved reliability and
                    reduced operational costs.
                </p>

            </div>
        </div>

    </div>
</section><!-- End Details Section -->

</div>
</div>


<section class="counts section-bg">
        <div class="container">
            <div class="section-title">
                <h2>Loved by our customers</h2>
            </div>
            <div class="row">
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-headers">
                                            <h3 class="customerName">Mohit Tejwani</h3>
                                            <h5 class="customerName">Software Enginner</h5>
                                        </div>
                                        <div class="cardImage">
                                            <img class="imgca" src="../../assets/assets/img/team/team-3.jpg" alt="Card image cap">
                                        </div>
                                        <div class="card-body pt-5 ">
                                            <p class="card-text text-center">The business management dashboard
                                                developed by GrayMatter is a powerful performance management tool
                                                empowering the user with business critical</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-headers">
                                            <h3 class="customerName">Dr. U. V. Girish Kumar</h3>
                                            <h5 class="customerName">Founder,CEO</h5>
                                        </div>
                                        <div class="cardImage">
                                            <img class="imgca" src="../../assets/assets/img/team/team-1.jpg" alt="Card image cap">
                                        </div>
                                        <div class="card-body pt-5 ">
                                            <p class="card-text text-center">The business management dashboard
                                                developed by GrayMatter is a powerful performance management tool
                                                empowering the user with business critical</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-headers">
                                            <h3 class="customerName">Monika Sharma</h3>
                                            <h5 class="customerName">CEO, Corporate Airport Sector</h5>
                                        </div>
                                        <div class="cardImage">
                                            <img class="imgca" src="../../assets/assets/img/team/team-2.jpg" alt="Card image cap">
                                        </div>
                                        <div class="card-body pt-5 ">
                                            <p class="card-text text-center">GrayMatter has been supporting BPCL’s In
                                                &Out stores operations through efficient and effective management of
                                                its software changes in the business</p>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-headers">
                                            <h3 class="customerName">Dr. U. V. Girish Kumar</h3>
                                            <h5 class="customerName">Founder,CEO</h5>
                                        </div>
                                        <div class="cardImage">
                                            <img class="imgca" src="../../assets/assets/img/team/team-1.jpg" alt="Card image cap">
                                        </div>
                                        <div class="card-body pt-5 ">
                                            <p class="card-text text-center">The business management dashboard
                                                developed by GrayMatter is a powerful performance management tool
                                                empowering the user with business critical</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-headers">
                                            <h3 class="customerName">Monika Sharma</h3>
                                            <h5 class="customerName">CEO, Corporate Airport Sector</h5>
                                        </div>
                                        <div class="cardImage">
                                            <img class="imgca" src="../../assets/assets/img/team/team-2.jpg" alt="Card image cap">
                                        </div>
                                        <div class="card-body pt-5 ">
                                            <p class="card-text text-center">GrayMatter has been supporting BPCL’s In
                                                &Out stores operations through efficient and effective management of
                                                its software changes in the business</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="card">
                                        <div class="card-headers">
                                            <h3 class="customerName">Mohit Tejwani</h3>
                                            <h5 class="customerName">Software Enginner</h5>
                                        </div>
                                        <div class="cardImage">
                                            <img class="imgca" src="../../assets/assets/img/team/team-3.jpg" alt="Card image cap">
                                        </div>
                                        <div class="card-body pt-5 ">
                                            <p class="card-text text-center">The business management dashboard
                                                developed by GrayMatter is a powerful performance management tool
                                                empowering the user with business critical</p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                    <div class="count-box">
                        <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                        <span data-toggle="counter-up">232</span>
                        <p>Happy Clients</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="icofont-document-folder" style="color: #c042ff;"></i>
                        <span data-toggle="counter-up">521</span>
                        <p>Projects</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
                    <div class="count-box">
                        <i class="icofont-live-support" style="color: #46d1ff;"></i>
                        <span data-toggle="counter-up">1,463</span>
                        <p>Hours Of Support</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
                    <div class="count-box">
                        <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
                        <span data-toggle="counter-up">15</span>
                        <p>Hard Workers</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->